<div class="row">
    <div class="col-md-3">
        <img ng-src="{{ images }}"></div>
    <p style="font-family:verdana; font-size:200%;margin-top: 100px;margin-bottom: 100px;margin-right: 150px;margin-left: 80px">{{ artistname | uppercase }}</p>
</div>
</div>

<div ng-repeat="value in items">

    <div class="row">
        <div class="col-md-3">
            <img src="http://placehold.it/150x150" ng-src="{{ value.images[2].url }}" />
        </div>
        <div class="show-name" style="font-family:verdana;font-size:150%"> -{{ value.name }}</div>
        <br><br><br>
     </div>
    </div>
 </div>